body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(http://fr.live-tasty.ru/images/gallery-3.jpg);
  background-attachment:fixed;
  background-size:cover; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 75%;
  margin: auto;
}

.listMap {
  /* display: flex; */
  /* display: flex !important; */
}

.MapContainer {
  /* position: absolute; */
  /* right: 0px; */
  /* width: 50% !important; */
}

.MapContainer > div > div {
  width: 75% !important;
}
